<!-- show latest_products -->
<div class="slide">
  <div class="productImage">
    <%= image_tag(latest_products.images.first.attachment.url(:large), :alt => latest_products.name) %>
    <div class="productMasking">
      <ul class="list-inline btn-group" role="group">
        <li><a data-toggle="modal" href=".login-modal" class="btn btn-default"><i class="fa fa-heart"></i></a></li>
        <li><a href="cart_page.html" class="btn btn-default"><i class="fa fa-shopping-cart"></i></a></li>
        <li><a data-toggle="modal" href=".quick-view" class="btn btn-default"><i class="fa fa-eye"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="productCaption">
    <%= link_to potepan_product_path(latest_products.id) do %>
      <h5><%= latest_products.name %></h5>
      <h3><%= latest_products.display_price %></h3>
    <% end %>
  </div>
</div>
